###############################################################
#
# Environment setup
# CentOS 8.3 PXE Cobbler node -- George Magklaras
###############################################################

# url --url="http://192.168.122.1:8090/cent7"
text
cdrom
auth --enableshadow --passalgo=sha512
keyboard --vckeymap=no --xlayouts='no'
lang en_US.UTF-8
eula --agreed
reboot

###############################################################
#
# network configuration
#
###############################################################

#network --bootproto=static --ip=192.168.122.100 --gateway=192.168.122.1  --netmask=255.255.255.0  --noipv6 --device=eth0 --nameserver=192.168.122.1,8.8.8.8 --activate
network  --bootproto=dhcp --noipv6 --device=enp1s0 --activate
network  --bootproto=static --ip=192.168.14.101 --netmask=255.255.255.0 --noipv6 --device=enp2s0 
network  --hostname=pxemaster.steelcyber.hpc
timezone Europe/Oslo --isUtc --ntpservers=0.no.pool.ntp.org,1.no.pool.ntp.org,2.no.pool.ntp.org,3.no.pool.ntp.org


###############################################################
#
# partitioning
#
###############################################################

ignoredisk --only-use=vda
bootloader --location=mbr --boot-drive=vda
zerombr
clearpart --none --initlabel
#autopart --type=lvm

part swap --asprimary --fstype="swap" --size=2048
part /boot --fstype xfs --size=500
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow

#Set root password admin and ansible users
rootpw --iscrypted $6$lc7PLHs4t7n6jTzs$Tbuw0uutsX09Df/VjWOadvYTZZO3xmlrUFahtUkyXSsZjTgr0SWVhVkXSByEqIBQYa.QR2WwOLkq8Y20.eM89.
user --groups=wheel --name=georgios --iscrypted --password="$6$lc7PLHs4t7n6jTzs$Tbuw0uutsX09Df/VjWOadvYTZZO3xmlrUFahtUkyXSsZjTgr0SWVhVkXSByEqIBQYa.QR2WwOLkq8Y20.eM89." --uid="1000" --gid="1000" --gecos="Georgios Magklaras"
user --groups=wheel --name=controlmaster --iscrypted --password="$6$lc7PLHs4t7n6jTzs$Tbuw0uutsX09Df/VjWOadvYTZZO3xmlrUFahtUkyXSsZjTgr0SWVhVkXSByEqIBQYa.QR2WwOLkq8Y20.eM89." --uid="1001" --gid="1001" --gecos="Ansible user"
sshkey --username=controlmaster "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDihqz+9v2kq7NYAe6qrm3fMVH6ybXTr7DoONTxembWF6ODAa9IV6l23/4MacUJcyd/HxeoL7iAirbAs6RdWi3FI9yOYCc9EomhdXLx464C1LvsROYPYE3dDwarMViTTHCaYKhQwQi6q/7mNRokCjg5tfWWEs1XCFF2KaRIGG91fsrXnxkjvOfSBo/qON0EhYNe6pZfjtbZyJ0ItjJQHbie8zotP5++eqsD1m2SoxgfOS1bMRCyLler4tx7ytbP6godKJlEhzCiiiouGKzrE4OYvXzt19PKtAAbmD6g3ECj0MlM/41tyfckS2ReeuSZbc4OEkLa03FvpbCLi0fEI++aUaipVmham6pzlM8/yinZbQdPMCIBP8pcHf/XcTnPGJbX4cdiJ30wvznakaUqoNUcpI0XWn3ePN/5I3TKxj4viqs9Svz4aNHNiwrxtUMuz4ljsUZMwjUiWr0OqlalqX1u/FhjEWYY41Zo4uW4I/DYIQ3haJqjI6+3narFaBqInEs= controlmaster@master"
###############################################################
#
# SELinux and Firewalld
#
###############################################################

#selinux --enforcing
selinux --permissive
#selinux --disabled

###############################################################
#
# Software Packages
#
###############################################################

%packages
@^server-product-environment
@hardware-monitoring
@performance
@scientific
autofs
nfs-utils
kexec-tools
vim
bash-completion
git
tftp-server
httpd
syslinux
dhcp-server
yum-utils
pykickstart
%end

#Post install steps
%post --log=/var/log/kickstart_postpxemastercentos.log

echo "This is the post install stage for the CentOS 8.3 PXEMASTER node"
echo "Currently mounted partitions"
df -Th

echo "Allowing TFTP in the firewall"
firewall-cmd --add-service=tftp

echo "Running an update to ensure we get the latest software now"
/bin/dnf -y update
dnf -y install epel-release
dnf -y install htop

echo "Ensuring that we convert to a traditional networking stack, based on network.service (instead of network manager), iptables (instead of nft)"
dnf -y install network-scripts
systemctl stop NetworkManager.service
systemctl disable NetworkManager.service
systemctl enable network.service
systemctl start network.service
dnf -y install iptables-services

echo "And now the actual cobbler install"
echo "Fence agents for power management"
dnf -y install fence-agents*
dnf -y module enable cobbler
dnf -y install cobbler



%end

